[Unit]
Description=Dzem Radio Service
After=multi-user.target

[Service]
Type=simple
User=dzem
Environment="XDG_RUNTIME_DIR=/run/user/1000"
WorkingDirectory=/home/dzem/RADIO/
ExecStart=/usr/bin/python /home/dzem/RADIO/RadioManager.py
KillSignal=SIGINT
Restart=always
StandardOutput=append:/home/dzem/RADIO/logs/radio.log
StandardError=append:/home/dzem/RADIO/logs/radio.log

[Install]
WantedBy=multi-user.target
